/* 기본 마진 0 */
body{margin:0;}
a, a:hover {color: rgb(52,64,80)/* black*/}; 

/* 카루셀 세로길이 지정 */
#myCarousel .carousel-item{ height:32rem; background-color:#777;}
#myCarousel .carousel-item img { height:32rem; min-width:100%;}

.jc-spbt { justify-content: space-between;}
.file-thumbnail { height: 2.25rem; width: 2.25rem; min-width:40; min-height:40;}

.ellipsis {overflow: hidden;text-overflow: ellipsis; white-space:nowrap;}
.ellipsis.lineclamp { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; white-space:unset;}

/* jeju custom */
.bg-jeju { background-color:lightsalmon; color:white;}
.bg-jeju-reverse { background-color:white; color:lightsalmon;}