body{margin:0;}

/*
a {color:#5a5a5a; }
a:hover { color:#5a5a5a; text-decoration:none;}
*/

.container {
}

header {border-bottom: 1px solid #e5e5e5;}
/*
.navbar-brand { font-size:1.25rem; white-space:nowrap;
display:inline-block; }
*/
