/* 기본 마진 0 */
body{margin:0; background-color:#ebedf2;}
a, a:hover {color: rgb(52,64,80)/* black*/}; 

/* 카루셀 세로길이 지정 */
#myCarousel .carousel-item{ height:32rem; background-color:#777;}
#myCarousel .carousel-item img { height:32rem; min-width:100%;}

.jc-spbt { justify-content: space-between;}
.file-thumbnail { height: 2.25rem; width: 2.25rem; min-width:40; min-height:40;}

.ellipsis {overflow: hidden;text-overflow: ellipsis; white-space:nowrap;}
.ellipsis.lineclamp { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; white-space:unset;}

/* jeju custom */
.bg-jeju { background-color:lightsalmon; color:white;}
.bg-jeju-reverse { background-color:white; color:lightsalmon;}
.bg-jeju .nav-link {color:white !important;}

#reco-box {margin:10px 0; padding:6px 26px;}
#reco-box .card-body {padding:0;}
#reco-box .card-body .card {padding:0;}
#reco-box .card-body .card img {width:100%; height:180px; border-radius: 7px;}

.card-header, .card {border:3px solid white;}


.jeju-scrollbar::-webkit-scrollbar {
/*  display: none;*/
  width: 5px;
  height: 8px;
/*  background-color: lightgrey;*/
}
.jeju-scrollbar::-webkit-scrollbar-thumb {
  background: lightsalmon;
}

.nav-link.active {background-color:lightsalmon !important;}

#review-box{min-height:700px;}

.rv-box-imglist{height:120px;}
.rv-box-imglist img {height:100%;width:32%;}