/* 기본 마진 0 */
body{margin:0;}
a {color: rgb(52,64,80)/* black*/}; 

/* 카루셀 세로길이 지정 */
#myCarousel .carousel-item{ height:32rem; background-color:#777;}
#myCarousel .carousel-item img { height:32rem; min-width:100%;}

.jc-spbt { justify-content: space-between;}
.file-thumbnail { height: 2.25rem; width: 2.25rem;}